<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add
      name="ServerName"
      connectionString="."
	  />
    <add
      name="SqlServerName"
      connectionString="ATLANTIS\SQL2014"
	  />
    <add
      name="DestinationPath"
      connectionString="C:\Users\Cédric\Projects\Remotis\src\Testing\Server\Toto.txt"
	  />
  </connectionStrings>
</configuration>