<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="Cassis.Behavior" name="Cassis.Service.PackageService">
				<endpoint address="" binding="netTcpBinding" contract="Cassis.Contract.IPackageService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:810/PackageService"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="Cassis.Behavior">
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="false"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment 
					to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="False"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
